In [3]:
from tensorflow.keras import *

ModuleNotFoundError: No module named 'tensorflow'

In [2]:
from tensorflow.keras import models
from tensorflow.keras import layers

ModuleNotFoundError: No module named 'tensorflow'

In [1]:

model = models.Sequential()

model.add(layers.Dense(5, activation='relu', input_dim=2)) # 1st hidden layer with 5 neurons
model.add(layers.Dense(4, activation='relu')) # 2nd hidden layer with 4 neurons
model.add(layers.Dense(3, activation='relu')) # 3rd hidden layer with 3 neurons



model.add(layers.Dense(1, activation='sigmoid')) # Output layer that outputs a probability of belonging
                                                 # to the class of "success"

NameError: name 'models' is not defined

In [ ]:
model.summary()

In [6]:
import pandas as pd

In [4]:
Const_LocalPath = "/Users/farahboukitab/code/mrdaraujo/business_case_869/business_case_869/data/store-sales-time-series-forecasting/"

In [10]:
df_data = pd.read_csv(Const_LocalPath + "data_train_merge_stores.csv")

In [11]:
df_data

,date,store_nbr,family,sales,city,month,year
0,2013-01-01,1,AUTOMOTIVE,0.000,Quito,1,2013
1,2013-01-01,1,BABY CARE,0.000,Quito,1,2013
2,2013-01-01,1,BEAUTY,0.000,Quito,1,2013
3,2013-01-01,1,BEVERAGES,0.000,Quito,1,2013
4,2013-01-01,1,BOOKS,0.000,Quito,1,2013
...,...,...,...,...,...,...,...
2596369,2016-12-31,9,POULTRY,687.853,Quito,12,2016
2596370,2016-12-31,9,PREPARED FOODS,100.405,Quito,12,2016
2596371,2016-12-31,9,PRODUCE,3091.356,Quito,12,2016
2596372,2016-12-31,9,SCHOOL AND OFFICE SUPPLIES,2.000,Quito,12,2016
2596373,2016-12-31,9,SEAFOOD,13.000,Quito,12,2016