In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# DataVisulation

The idea is to merge the train dataset with the stores dataset (type and cluster) and see if there is a correlation
between family, type and cluster and the target sales

## Load train and stores datasets and merge them

In [4]:
#read csv train dataset and stores dataset
data_train = pd.read_csv("/Users/farahboukitab/code/mrdaraujo/business_case_869/business_case_869/data/store-sales-time-series-forecasting/train.csv")
data_stores = pd.read_csv("/Users/farahboukitab/code/mrdaraujo/business_case_869/business_case_869/data/store-sales-time-series-forecasting/stores.csv")

In [67]:
data_train

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,1,2013-01-01,1,BABY CARE,0.000,0
2,2,2013-01-01,1,BEAUTY,0.000,0
3,3,2013-01-01,1,BEVERAGES,0.000,0
4,4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0

In [7]:
len(data_train)

3000888

In [8]:
data_train.describe()

                 id     store_nbr         sales   onpromotion
count  3.000888e+06  3.000888e+06  3.000888e+06  3.000888e+06
mean   1.500444e+06  2.750000e+01  3.577757e+02  2.602770e+00
std    8.662819e+05  1.558579e+01  1.101998e+03  1.221888e+01
min    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    7.502218e+05  1.400000e+01  0.000000e+00  0.000000e+00
50%    1.500444e+06  2.750000e+01  1.100000e+01  0.000000e+00
75%    2.250665e+06  4.100000e+01  1.958473e+02  0.000000e+00
max    3.000887e+06  5.400000e+01  1.247170e+05  7.410000e+02

In [70]:
data_stores[data_stores['cluster'] == 10]

    store_nbr        city       state type  cluster
25         26   Guayaquil      Guayas    D       10
27         28   Guayaquil      Guayas    E       10
28         29   Guayaquil      Guayas    E       10
30         31    Babahoyo    Los Rios    B       10
35         36    Libertad      Guayas    E       10
42         43  Esmeraldas  Esmeraldas    E       10

In [9]:
len(data_stores)

54

In [59]:
#merge train dataset and stores dataset
data_train_merge_stores = pd.merge(data_train, data_stores, on="store_nbr")

In [11]:
data_train_merge_stores

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13
...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6

In [73]:
data_train_merge_stores[data_train_merge_stores['family']== 'AUTOMOTIVE'].nunique()

id             90936
date            1684
store_nbr         54
family             1
sales             70
onpromotion        9
city              22
state             16
type               5
cluster           17
dtype: int64

In [75]:
data_train_merge_stores.groupby('family').nunique()

,id,date,store_nbr,sales,onpromotion,city,state,type,cluster
family,,,,,,,,,
AUTOMOTIVE,90936,1684,54,70,9,22,16,5,17
BABY CARE,90936,1684,54,18,2,22,16,5,17
BEAUTY,90936,1684,54,61,11,22,16,5,17
BEVERAGES,90936,1684,54,9778,164,22,16,5,17
BOOKS,90936,1684,54,19,1,22,16,5,17
BREAD/BAKERY,90936,1684,54,39735,97,22,16,5,17
CELEBRATION,90936,1684,54,176,15,22,16,5,17
CLEANING,90936,1684,54,4039,131,22,16,5,17
DAIRY,90936,1684,54,3741,166,22,16,5,17
DELI,90936,1684,54,55755,82,22,16,5,17
EGGS,90936,1684,54,1162,33,22,16,5,17
FROZEN FOODS,90936,1684,54,40595,34,22,16,5,17
GROCERY I,90936,1684,54,24915,251,22,16,5,17
GROCERY II,90936,1684,54,274,8,22,16,5,17
HARDWARE,90936,1684,54,27,5,22,16,5,17
HOME AND KITCHEN I,90936,1684,54,400,27,22,16,5,17
HOME AND KITCHEN II,90936,1684,54,392,18,22,16,5,17
HOME APPLIANCES,90936,1684,54,13,2,22,16,5,17
HOME CARE,90936,1684,54,1343,58,22,16,5,17
LADIESWEAR,90936,1684,54,136,19,22,16,5,17
LAWN AND GARDEN,90936,1684,54,179,16,22,16,5,17
LINGERIE,90936,1684,54,119,12,22,16,5,17
"LIQUOR,WINE,BEER",90936,1684,54,1020,27,22,16,5,17
MAGAZINES,90936,1684,54,72,7,22,16,5,17
MEATS,90936,1684,54,79228,57,22,16,5,17
PERSONAL CARE,90936,1684,54,1604,72,22,16,5,17
PET SUPPLIES,90936,1684,54,94,7,22,16,5,17
PLAYERS AND ELECTRONICS,90936,1684,54,122,17,22,16,5,17
POULTRY,90936,1684,54,79089,49,22,16,5,17
PREPARED FOODS,90936,1684,54,43505,15,22,16,5,17
PRODUCE,90936,1684,54,52163,253,22,16,5,17
SCHOOL AND OFFICE SUPPLIES,90936,1684,54,349,15,22,16,5,17
SEAFOOD,90936,1684,54,33789,8,22,16,5,17

In [78]:
data_train_merge_stores.groupby('city').nunique().sort_values("sales", ascending = False)

,id,date,store_nbr,family,sales,onpromotion,state,type,cluster
city,,,,,,,,,
Quito,1000296,1684,18,33,191939,253,1,4,10
Guayaquil,444576,1684,8,33,68838,213,1,5,5
Cuenca,166716,1684,3,33,31431,217,1,2,2
Ambato,111144,1684,2,33,27674,214,1,2,2
Santo Domingo,166716,1684,3,33,24815,187,1,3,3
Machala,111144,1684,2,33,20677,178,1,2,2
Daule,55572,1684,1,33,15260,159,1,1,1
Loja,55572,1684,1,33,15025,169,1,1,1
Latacunga,111144,1684,2,33,12472,123,1,1,1
Cayambe,55572,1684,1,33,12111,152,1,1,1
Salinas,55572,1684,1,33,12023,149,1,1,1
Babahoyo,55572,1684,1,33,11503,140,1,1,1
Libertad,55572,1684,1,33,11242,153,1,1,1
Manta,111144,1684,2,33,11133,251,1,2,2
Esmeraldas,55572,1684,1,33,9372,135,1,1,1
Quevedo,55572,1684,1,33,8091,130,1,1,1
Guaranda,55572,1684,1,33,8003,112,1,1,1
Riobamba,55572,1684,1,33,7562,115,1,1,1
El Carmen,55572,1684,1,33,7546,180,1,1,1
Ibarra,55572,1684,1,33,7468,117,1,1,1
Playas,55572,1684,1,33,6851,107,1,1,1
Puyo,55572,1684,1,33,3970,114,1,1,1

In [79]:
data_train_merge_stores.groupby('cluster').nunique()

,id,date,store_nbr,family,sales,onpromotion,city,state,type
cluster,,,,,,,,,
1,166716,1684,3,33,37536,214,3,2,1
2,111144,1684,2,33,20973,187,1,1,1
3,389004,1684,7,33,37411,223,6,5,1
4,166716,1684,3,33,38101,195,3,3,1
5,55572,1684,1,33,18368,199,1,1,1
6,333432,1684,6,33,53421,172,5,4,1
7,111144,1684,2,33,10040,118,2,2,1
8,166716,1684,3,33,43539,229,1,1,1
9,111144,1684,2,33,26476,190,2,2,1
10,333432,1684,6,33,50367,161,4,3,3
11,166716,1684,3,33,33443,228,2,2,1
12,55572,1684,1,33,8313,137,1,1,1
13,222288,1684,4,33,46340,303,2,2,1
14,222288,1684,4,33,57571,232,2,2,1
15,277860,1684,5,33,27175,126,4,4,1
16,55572,1684,1,33,10669,159,1,1,1
17,55572,1684,1,33,16684,178,1,1,1

In [12]:
data_train_merge_stores.nunique()

id             3000888
date              1684
store_nbr           54
family              33
sales           379610
onpromotion        362
city                22
state               16
type                 5
cluster             17
dtype: int64

In [14]:
data_train_merge_stores.dtypes

id               int64
date            object
store_nbr        int64
family          object
sales          float64
onpromotion      int64
city            object
state           object
type            object
cluster          int64
dtype: object

In [15]:
data_train_merge_stores['date'] = pd.to_datetime(data_train_merge_stores['date'])

In [17]:
data_train_merge_stores.dtypes

id                      int64
date           datetime64[ns]
store_nbr               int64
family                 object
sales                 float64
onpromotion             int64
city                   object
state                  object
type                   object
cluster                 int64
dtype: object

In [18]:
data_train_merge_stores['Year'] = data_train_merge_stores['date'].dt.year

In [19]:
data_train_merge_stores

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,Year
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,2013
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,2013
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,2013
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,2013
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,2013
...,...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,2017
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,2017
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,2017
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,2017
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,2017

In [26]:
data_train_merge_stores.nunique()

id             3000888
date              1684
store_nbr           54
family              33
sales           379610
onpromotion        362
city                22
state               16
type                 5
cluster             17
Year                 5
dtype: int64

In [25]:
data_train_merge_stores[data_train_merge_stores["state"] == "Pichincha"].nunique()

id             1055868
date              1684
store_nbr           19
family              33
sales           199540
onpromotion        253
city                 2
state                1
type                 4
cluster             10
Year                 5
dtype: int64

In [27]:
#Create a table for each type of stores
data_train_merge_stores_typeA = data_train_merge_stores[data_train_merge_stores["type"] == "A"]
data_train_merge_stores_typeA

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,Year
2111736,1254,2013-01-01,44,AUTOMOTIVE,0.000,0,Quito,Pichincha,A,5,2013
2111737,1255,2013-01-01,44,BABY CARE,0.000,0,Quito,Pichincha,A,5,2013
2111738,1256,2013-01-01,44,BEAUTY,0.000,0,Quito,Pichincha,A,5,2013
2111739,1257,2013-01-01,44,BEVERAGES,0.000,0,Quito,Pichincha,A,5,2013
2111740,1258,2013-01-01,44,BOOKS,0.000,0,Quito,Pichincha,A,5,2013
...,...,...,...,...,...,...,...,...,...,...,...
2667451,3000685,2017-08-15,52,POULTRY,397.340,0,Manta,Manabi,A,11,2017
2667452,3000686,2017-08-15,52,PREPARED FOODS,104.418,0,Manta,Manabi,A,11,2017
2667453,3000687,2017-08-15,52,PRODUCE,3803.368,8,Manta,Manabi,A,11,2017
2667454,3000688,2017-08-15,52,SCHOOL AND OFFICE SUPPLIES,17.000,0,Manta,Manabi,A,11,2017
2667455,3000689,2017-08-15,52,SEAFOOD,7.000,0,Manta,Manabi,A,11,2017

In [36]:
data_train_merge_stores_typeA.nunique()

id             500148
date             1684
store_nbr           9
family             33
sales          109138
onpromotion       253
city                4
state               4
type                1
cluster             4
Year                5
dtype: int64

In [28]:
data_train_merge_stores_typeB = data_train_merge_stores[data_train_merge_stores["type"] == "B"]
data_train_merge_stores_typeB

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,Year
111144,66,2013-01-01,11,AUTOMOTIVE,0.000,0,Cayambe,Pichincha,B,6,2013
111145,67,2013-01-01,11,BABY CARE,0.000,0,Cayambe,Pichincha,B,6,2013
111146,68,2013-01-01,11,BEAUTY,0.000,0,Cayambe,Pichincha,B,6,2013
111147,69,2013-01-01,11,BEVERAGES,0.000,0,Cayambe,Pichincha,B,6,2013
111148,70,2013-01-01,11,BOOKS,0.000,0,Cayambe,Pichincha,B,6,2013
...,...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,2017
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,2017
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,2017
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,2017
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,2017

In [35]:
data_train_merge_stores_typeB.nunique()

id             444576
date             1684
store_nbr           8
family             33
sales           69757
onpromotion       172
city                6
state               5
type                1
cluster             3
Year                5
dtype: int64

In [29]:
data_train_merge_stores_typeC = data_train_merge_stores[data_train_merge_stores["type"] == "C"]
data_train_merge_stores_typeC

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,Year
55572,33,2013-01-01,10,AUTOMOTIVE,0.000,0,Quito,Pichincha,C,15,2013
55573,34,2013-01-01,10,BABY CARE,0.000,0,Quito,Pichincha,C,15,2013
55574,35,2013-01-01,10,BEAUTY,0.000,0,Quito,Pichincha,C,15,2013
55575,36,2013-01-01,10,BEVERAGES,0.000,0,Quito,Pichincha,C,15,2013
55576,37,2013-01-01,10,BOOKS,0.000,0,Quito,Pichincha,C,15,2013
...,...,...,...,...,...,...,...,...,...,...,...
2778595,3000751,2017-08-15,54,POULTRY,59.619,0,El Carmen,Manabi,C,3,2017
2778596,3000752,2017-08-15,54,PREPARED FOODS,94.000,0,El Carmen,Manabi,C,3,2017
2778597,3000753,2017-08-15,54,PRODUCE,915.371,76,El Carmen,Manabi,C,3,2017
2778598,3000754,2017-08-15,54,SCHOOL AND OFFICE SUPPLIES,0.000,0,El Carmen,Manabi,C,3,2017
2778599,3000755,2017-08-15,54,SEAFOOD,3.000,0,El Carmen,Manabi,C,3,2017

In [34]:
data_train_merge_stores_typeC.nunique()

id             833580
date             1684
store_nbr          15
family             33
sales           70347
onpromotion       231
city               12
state              11
type                1
cluster             4
Year                5
dtype: int64

In [30]:
data_train_merge_stores_typeD = data_train_merge_stores[data_train_merge_stores["type"] == "D"]
data_train_merge_stores_typeD

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,Year
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,2013
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,2013
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,2013
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,2013
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,2013
...,...,...,...,...,...,...,...,...,...,...,...
2945311,3000850,2017-08-15,8,POULTRY,548.982,0,Quito,Pichincha,D,8,2017
2945312,3000851,2017-08-15,8,PREPARED FOODS,143.714,0,Quito,Pichincha,D,8,2017
2945313,3000852,2017-08-15,8,PRODUCE,3939.392,10,Quito,Pichincha,D,8,2017
2945314,3000853,2017-08-15,8,SCHOOL AND OFFICE SUPPLIES,0.000,0,Quito,Pichincha,D,8,2017
2945315,3000854,2017-08-15,8,SEAFOOD,23.330,0,Quito,Pichincha,D,8,2017

In [33]:
data_train_merge_stores_typeD.nunique()

id             1000296
date              1684
store_nbr           18
family              33
sales           181110
onpromotion        316
city                10
state                9
type                 1
cluster              7
Year                 5
dtype: int64

In [31]:
data_train_merge_stores_typeE = data_train_merge_stores[data_train_merge_stores["type"] == "E"]
data_train_merge_stores_typeE

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,Year
1111440,660,2013-01-01,28,AUTOMOTIVE,0.000,0,Guayaquil,Guayas,E,10,2013
1111441,661,2013-01-01,28,BABY CARE,0.000,0,Guayaquil,Guayas,E,10,2013
1111442,662,2013-01-01,28,BEAUTY,0.000,0,Guayaquil,Guayas,E,10,2013
1111443,663,2013-01-01,28,BEVERAGES,0.000,0,Guayaquil,Guayas,E,10,2013
1111444,664,2013-01-01,28,BOOKS,0.000,0,Guayaquil,Guayas,E,10,2013
...,...,...,...,...,...,...,...,...,...,...,...
2111731,3000355,2017-08-15,43,POULTRY,239.972,0,Esmeraldas,Esmeraldas,E,10,2017
2111732,3000356,2017-08-15,43,PREPARED FOODS,128.714,0,Esmeraldas,Esmeraldas,E,10,2017
2111733,3000357,2017-08-15,43,PRODUCE,1743.106,132,Esmeraldas,Esmeraldas,E,10,2017
2111734,3000358,2017-08-15,43,SCHOOL AND OFFICE SUPPLIES,2.000,0,Esmeraldas,Esmeraldas,E,10,2017
2111735,3000359,2017-08-15,43,SEAFOOD,0.000,0,Esmeraldas,Esmeraldas,E,10,2017

In [65]:
data_train_merge_stores_typeE.dtypes

id                      int64
date           datetime64[ns]
store_nbr               int64
family                 object
sales                 float64
onpromotion             int64
city                   object
state                  object
type                   object
cluster                 int64
Year                    int64
dtype: object

In [66]:
data_train_merge_stores_typeE_2013 = data_train_merge_stores_typeE[data_train_merge_stores_typeE["Year"] == 2013]
data_train_merge_stores_typeE_2013

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,Year
1111440,660,2013-01-01,28,AUTOMOTIVE,0.000,0,Guayaquil,Guayas,E,10,2013
1111441,661,2013-01-01,28,BABY CARE,0.000,0,Guayaquil,Guayas,E,10,2013
1111442,662,2013-01-01,28,BEAUTY,0.000,0,Guayaquil,Guayas,E,10,2013
1111443,663,2013-01-01,28,BEVERAGES,0.000,0,Guayaquil,Guayas,E,10,2013
1111444,664,2013-01-01,28,BOOKS,0.000,0,Guayaquil,Guayas,E,10,2013
...,...,...,...,...,...,...,...,...,...,...,...
2068171,648115,2013-12-31,43,POULTRY,235.837,0,Esmeraldas,Esmeraldas,E,10,2013
2068172,648116,2013-12-31,43,PREPARED FOODS,29.000,0,Esmeraldas,Esmeraldas,E,10,2013
2068173,648117,2013-12-31,43,PRODUCE,0.000,0,Esmeraldas,Esmeraldas,E,10,2013
2068174,648118,2013-12-31,43,SCHOOL AND OFFICE SUPPLIES,0.000,0,Esmeraldas,Esmeraldas,E,10,2013
2068175,648119,2013-12-31,43,SEAFOOD,1.000,0,Esmeraldas,Esmeraldas,E,10,2013

In [32]:
data_train_merge_stores_typeE.nunique()

id             222288
date             1684
store_nbr           4
family             33
sales           34111
onpromotion       160
city                3
state               2
type                1
cluster             1
Year                5
dtype: int64

In [40]:
#DataFrame groupedby type and sum the sales
data_bytype_sumsales = data_train_merge_stores.groupby('type').agg({'sales': 'sum', 'cluster':'count'})
   #.....:    .reset_index()
   #.....:    .rename(columns={'Organisation Name':'Organisation Count'}) )

In [41]:
data_bytype_sumsales

             sales  cluster
type
A     3.530438e+08   500148
B     1.452606e+08   444576
C     1.644347e+08   833580
D     3.510833e+08  1000296
E     5.982244e+07   222288

In [43]:
data_bycluster_sumsales = data_train_merge_stores.groupby('cluster').agg({'sales': 'sum'})
data_bycluster_sumsales

                sales
cluster
1        5.437675e+07
2        2.891640e+07
3        7.562870e+07
4        4.944344e+07
5        6.208755e+07
6        1.142544e+08
7        1.547812e+07
8        1.079282e+08
9        3.056108e+07
10       8.532443e+07
11       1.006143e+08
12       1.803097e+07
13       7.210225e+07
14       1.574305e+08
15       5.529695e+07
16       1.325938e+07
17       3.291149e+07

In [51]:
train = pd.read_csv('/Users/farahboukitab/code/mrdaraujo/business_case_869/business_case_869/data/store-sales-time-series-forecasting/train.csv',
                    parse_dates = ['date'], infer_datetime_format = True,
                    dtype = {'store_nbr' : 'category',
                             'family' : 'category'},
                    usecols = ['date', 'store_nbr', 'family', 'sales'])
train['date'] = train.date.dt.to_period('D')
#train = train.set_index(['date', 'store_nbr', 'family']).sort_index()
train

               date store_nbr                      family     sales
0        2013-01-01         1                  AUTOMOTIVE     0.000
1        2013-01-01         1                   BABY CARE     0.000
2        2013-01-01         1                      BEAUTY     0.000
3        2013-01-01         1                   BEVERAGES     0.000
4        2013-01-01         1                       BOOKS     0.000
...             ...       ...                         ...       ...
3000883  2017-08-15         9                     POULTRY   438.133
3000884  2017-08-15         9              PREPARED FOODS   154.553
3000885  2017-08-15         9                     PRODUCE  2419.729
3000886  2017-08-15         9  SCHOOL AND OFFICE SUPPLIES   121.000
3000887  2017-08-15         9                     SEAFOOD    16.000

[3000888 rows x 4 columns]

In [45]:
train['sales'].sum()

1073644952.2030689

In [46]:
data_train['sales'].sum()

1073644952.2030689

In [50]:
train.sum()

sales    1.073645e+09
dtype: float64

In [52]:
data_train_merge_stores

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,Year
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Quito,Pichincha,D,13,2013
1,1,2013-01-01,1,BABY CARE,0.000,0,Quito,Pichincha,D,13,2013
2,2,2013-01-01,1,BEAUTY,0.000,0,Quito,Pichincha,D,13,2013
3,3,2013-01-01,1,BEVERAGES,0.000,0,Quito,Pichincha,D,13,2013
4,4,2013-01-01,1,BOOKS,0.000,0,Quito,Pichincha,D,13,2013
...,...,...,...,...,...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,Quito,Pichincha,B,6,2017
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Quito,Pichincha,B,6,2017
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,Quito,Pichincha,B,6,2017
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Quito,Pichincha,B,6,2017
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,Quito,Pichincha,B,6,2017

In [62]:
data_train_merge_stores_clean = data_train_merge_stores.drop(columns=['date', 'onpromotion','id'])
data_train_merge_stores_clean_2 = data_train_merge_stores_clean.groupby('store_nbr')['sales'].agg(['sum'])
data_train_merge_stores_clean_2

                    sum
store_nbr
1          1.414501e+07
2          2.155739e+07
3          5.048191e+07
4          1.890970e+07
5          1.559240e+07
6          2.518368e+07
7          2.695205e+07
8          3.049429e+07
9          2.640944e+07
10         9.613906e+06
11         2.832556e+07
12         1.065922e+07
13         1.052305e+07
14         1.138792e+07
15         1.145127e+07
16         1.098641e+07
17         1.803097e+07
18         1.325938e+07
19         1.304951e+07
20         1.292095e+07
21         9.255506e+06
22         4.090202e+06
23         1.165138e+07
24         2.376773e+07
25         1.142100e+07
26         7.755122e+06
27         1.918802e+07
28         1.838315e+07
29         9.725158e+06
30         7.382074e+06
31         1.774687e+07
32         5.951796e+06
33         1.417850e+07
34         1.709073e+07
35         7.676679e+06
36         1.532243e+07
37         1.997064e+07
38         1.886000e+07
39         2.025219e+07
40         1.839576e+07
41         1.499104e+07
42         8.945768e+06
43         1.639169e+07
44         6.208755e+07
45         5.449801e+07
46         4.189606e+07
47         5.094831e+07
48         3.593313e+07
49         4.342010e+07
50         2.865302e+07
51         3.291149e+07
52         2.696170e+06
53         1.121617e+07
54         1.105748e+07

In [53]:
data_train_merge_stores_2 = data_train_merge_stores.set_index(['Year', 'store_nbr', 'family']).sort_index()
data_train_merge_stores_2

                                id       date  sales  onpromotion       city  \
Year store_nbr family
2013 1         AUTOMOTIVE        0 2013-01-01    0.0            0      Quito
               AUTOMOTIVE     1782 2013-01-02    2.0            0      Quito
               AUTOMOTIVE     3564 2013-01-03    3.0            0      Quito
               AUTOMOTIVE     5346 2013-01-04    3.0            0      Quito
               AUTOMOTIVE     7128 2013-01-05    5.0            0      Quito
...                            ...        ...    ...          ...        ...
2017 54        SEAFOOD     2993627 2017-08-11    0.0            0  El Carmen
               SEAFOOD     2995409 2017-08-12    1.0            1  El Carmen
               SEAFOOD     2997191 2017-08-13    2.0            0  El Carmen
               SEAFOOD     2998973 2017-08-14    0.0            0  El Carmen
               SEAFOOD     3000755 2017-08-15    3.0            0  El Carmen

                               state type  cluster
Year store_nbr family
2013 1         AUTOMOTIVE  Pichincha    D       13
               AUTOMOTIVE  Pichincha    D       13
               AUTOMOTIVE  Pichincha    D       13
               AUTOMOTIVE  Pichincha    D       13
               AUTOMOTIVE  Pichincha    D       13
...                              ...  ...      ...
2017 54        SEAFOOD        Manabi    C        3
               SEAFOOD        Manabi    C        3
               SEAFOOD        Manabi    C        3
               SEAFOOD        Manabi    C        3
               SEAFOOD        Manabi    C        3

[3000888 rows x 8 columns]

In [54]:
data_train_merge_stores_2['sales'].sum()

1073644952.2030686

In [ ]:
data_train_merge_stores_2[]